#welcome-message {
	font-family: 'Philosopher', sans-serif;
	text-align: center;
	margin: 30px 0 35px 0;
	font-size: 45px;
	color: #a9a9a9;
}

#liolia-logo {
	margin: 20px auto;
	width: 80%;
	text-align: center;
}
img {
	max-width: 100%;	
}

.loader {
	width: 310px;
	margin: 20px auto 50px;
}
.loader_element {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin:0 10px;
	text-align:center;
	background-color: #a9a9a9;
	border-radius:45px;
}
.loader_element.down {
	margin-bottom: -30px;	
}